# Default reviewers. More info about this file:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

*   @nerd0 @magmax @chrispsplash
